# Backend
fastapi
uvicorn
python-multipart

# Frontend
streamlit

# AI / Agents
crewai
langchain
langchain-community
litellm
groq

# RAG + Embeddings
chromadb
sentence-transformers
tiktoken

# ML backend
torch
torchvision
torchaudio

# PDF processing
pymupdf

# Utils
python-dotenv
requests
httpx

# Search API
tavily-python